@import "./../../data/varsGlobal/var.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: $background-nigth-ligth;

  width: 100%;
  height: 50px;

  z-index: 103;

  &__brand {
    @extend %heroTextC;
    font-size: 35px;
    text-decoration: none;
    padding: 0 10px;
    transition: color, transform 0.9s ease;

    z-index: 104;

    &:hover {
      color: $color-main-text;
    }
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 20px;

    & input {
      width: 200px;
      height: 30px;

      padding: 10px 20px;
      font-size: 15px;

      border-radius: 25px;
    }
  }
}

.burger {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 30px;

  z-index: 103;

  & span {
    position: absolute;
    background-color: white;
    height: 5px;
    width: 35px;
    border-radius: 50px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;

    background-color: white;
    height: 5px;
    width: 35px;
    border-radius: 50px;
    transition: all 0.2s ease;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;

    background-color: white;
    height: 5px;
    width: 35px;
    border-radius: 50px;

    transition: all 0.2s ease;
  }

  &.active {
    span {
      display: none;
    }
    &::after {
      transform: rotate(45deg);
      top: 12.5px;
    }
    &::before {
      transform: rotate(-45deg);
      bottom: 12.5px;
    }
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  z-index: 102;

  width: 100%;
  height: 100%;
  padding-top: 50px;

  overflow: hidden;

  background-color: $background-nigth-strong;

  display: flex;
  flex-flow: column nowrap;
}

@include desktop {
}
@include laptop {
}
@include tablet {
}
@include mobile {
  .header {
    &__search {
      display: none;
    }
  }
  .burger {
    display: flex;
  }
}
@include mini-mobile {
}
