@import "./../../data/varsGlobal/var.scss";

.cardFilms {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;

  border-radius: 20px;
}

.heroFilm {
  font-size: 18px;
}

.filmName {
  display: hidden;

  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;

  border-radius: 20px;
}

.poster {
  width: 200px;
  height: 290px;

  border-radius: 20px;
}

.overWolf {
  @extend %mainTextC;

  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 2;
  border-radius: 20px;
}

.posterHover {
  position: relative;
  cursor: pointer;
  transition: background-color, transform 0.5s ease;

  &:hover {
    transform: scale(1.08);
    .overWolf {
      display: flex;
    }
    border-radius: 20px;
  }
}

.mobileInfo {
  display: none;
}

.specif {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.specif p {
  font-size: 15px;
  text-decoration: none;
}

.inform {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;

  align-items: center;
  justify-content: center;
}
.inform p {
  padding: 2px 5px;
}

.ratingDesktop {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $background-nigth;

  padding: 4px;
  border-radius: 0 0 0 20px;

  & p {
    font-size: 15px;
  }

  &__num {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    color: $color-main-text;
  }
}

.rating {
  display: none;
  position: relative;

  &__num {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    color: $color-main-text;
  }
}

@include desktop {
}
@include laptop {
}
@include tablet {
  .cardFilms {
    width: 100%;
    margin: 0 auto;

    background-color: $background-nigth-ligth;
  }
  .mobileInfo {
    display: flex;
  }
  .posterHover {
    display: flex;
    justify-content: space-between;

    &:hover {
      transform: none;
      .overWolf {
        display: none;
      }
    }
    .overWolf {
      display: none;
    }
  }
  .heroFilm {
    text-align: center;
    color: $color-main-text;
  }
  .ratingDesktop {
    display: none;
  }
  .rating {
    display: flex;
  }
}
@include mobile {
}
@include mini-mobile {
}
