@import "./../data/varsGlobal/var.scss";
/*

.example-enter {
}

.example-enter.example-enter-active {
  left: 0;
}


.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300s ease-in;
}
*/
